<footer>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
            CST336 Internet Programming. 2020&copy; Mello <br />
            <strong>Disclaimer:</strong> The information in this webpage is for CST336 Internet Programming, HW4
            </div>
            <div class="col">
                Sources: <a href="https://www.sourceonetechnology.com/desktop-support/">Image Source</a>
            </div>
        </div>
    </div>
</footer>