<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Getting Started in IT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<header>
    <h1>Page Title</h1>
</header>
<hr />
<nav>
    <a href="/">Home</a>
    <a href="/desktop-support">Desktop Support</a>
    <a href="/sys-admin">System Administrator</a>
    <a href="/network-admin">Network Administrator</a>
</nav>
<hr>
<br /><br />