<hr />
<nav>
    <a href="/">Home</a>
    <a href="/desktop-support">Desktop Support</a>
    <a href="/sys-admin">System Administrator</a>
    <a href="/network-admin">Network Administrator</a>
</nav>
<hr>
<br /><br />