<%- include('partials/header.ejs') %>
<header>
    <h1>Desktop Support</h1>
</header>
<%- include('partials/nav.ejs') %>
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <figure>
                    <img src="img/desktop-support.jpg" alt="Desktop Support tech working" class="img-fluid">
                    <figcaption>Picture of desktop support tech working the field.</figcaption>
                </figure>
            </div>
            <div class="col">
                <p>Desktop support is generally an introductory position in which a desktop support technician will provide break fix assistance to users that are having trouble with their machines.Desktop support technicians are also generally responsible for configuration and installation of operating systems and providing support for updates and third party applications. Some desktop support positions will also be responsible for not only providing support for desktops but also mobile devices and possibly servers.
                <p>Individuals looking to get into desktop support can also look into getting certifications such as A+, HDI (Desktop Support Technician Certifications), and MCDST (Microsoft Certified Desktop Support Technician).
                <p><strong>Salary</strong>: $30,914 - $60,992
                    <div>
                    <a href="https://www.indeed.com/q-Desktop-Support-jobs.html" class="btn btn-primary" role="button" target="_blank">View Desktop Support Jobs</a>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>