<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
    <body>
        <main>
            <div class="container">
                <div class="row">
                    <div id="leaderboard" class="col">
                        <figure>
                            <img src="img/it.jpg" alt="Graphic for IT" class="img-fluid">
                            <figcaption>Graphic for the exciting and dynamic field of IT</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <p>Although most CS students are looking to get into software development positions in the future, there is one field that many students should look into as well. The dynamic field of Information Technology offers many dynamic and exciting positions that CS students could excel in. 
                    <p>This website will explore some of the positions available in this field and also provide information about core responsibilities as well as links to jobs and opportunities. Some of the core classes that we have already taken have focussed on IT and these skills could translate into a full time position in IT.   
                    </div>
                </div>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
</html>