<%- include('partials/header.ejs') %>
<header>
    <h1>Network Administrator</h1>
</header>
<%- include('partials/nav.ejs') %>
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <figure>
                    <img src="img/network-administrator.jpg" alt="Network Adminstrator working in the field." class="img-fluid">
                    <figcaption>Picture of network administrator working in a network center.</figcaption>
                </figure>
            </div>
            <div class="col">
                <p>Network administrators have similar responsibilities that a system administrator would except their primary focus is on the overall organization’s network infrastructure. Some of the responsibilities include building network infrastructure, managing servers and routers as well as managing firewalls and VPN. Individuals looking to be network administrators must have an incredible knowledge of networking interfaces as well as designing and implementing LANs.
                <p>Individuals looking to be a network administrator generally look into getting a CCNA (Cisco Certified Network Administrator) and Network +.
                <p><strong>Salary</strong>: $43,000 - $83,000
                    <div>
                    <a href="https://www.indeed.com/jobs?q=network+administrator&l=" class="btn btn-primary" role="button" target="_blank">View Network Administrator Jobs</a>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>