<%- include('partials/header.ejs') %>
<main>
    <div class="container">
        <div class="row">
            <div id="leaderboard" class="col">\
                <figure>
                    <img src="img/system-administrator.jpg" alt="System Adminstrator working in the field." class="img-fluid">
                    <figcaption>Picture of System Adminstrator working in network center.</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <p>A system administrator is generally the next position available after a person has experience providing desktop support. System administrators are responsible for a variety of tasks including managing servers, managing patching, backups as well as the overall administration of the network infrastructure. The system administrator will have a higher level of responsibility over a desktop support technician and generally additional knowledge is required.
            <p>Individuals looking to be a system administrator can also look into getting certifications such as MCSE (Microsoft Certified Solutions Expert), and RHCE (Red Hat Certified Engineer).
            <p><strong>Salary</strong>: $66,231 - $90,012
                <div>
                    <a href="https://www.indeed.com/jobs?q=system+administrator&l=" class="btn btn-primary" role="button" target="_blank">View System Administrator Jobs</a>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>